In [19]:
# add more products
import mysql.connector
mydb = mysql.connector.connect(
   host = "localhost",
   user = "root",
    passwd = "Cr7vsSm7",
    database = "source"
)
cur = mydb.cursor()
s = "INSERT INTO datazinto (Chips,Quantity,SellingP,StockP,Size,Barcode,Discription) VALUES (%s,%s,%s,%s,%s,%s,%s)"
sql = [
        #("Halls",24,11,23,200g,1222233,Cheese & onion),
        #("Banana",55,45,51,200g,1222233,Cheese & onion),
        #("Potato",51,15,15,200g,1222233,Cheese & onion),
]
cur.executemany(s,sql)
mydb.commit()

In [15]:
#Create Columns

import mysql.connector

mydd = mysql.connector(
host = "localhost",
user = "root",
passwd = "Cr7vsSm7",
database = "source"
)
cur = mydb.cursor()
cur.execute("ALTER TABLE source ADD  Sweets varchar(255)")

TypeError: 'module' object is not callable

In [11]:
import mysql.connector